@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<h1>Gizlilik Politikası</h1>

<p>
    BlogProjesi olarak kullanıcı bilgilerinin gizliliğine önem veriyoruz. Kayıt sırasında sağladığınız bilgiler sadece sistem işleyişi için kullanılmaktadır.
    Hiçbir koşulda üçüncü taraflarla paylaşılmaz.
</p>

<p>
    Eğer gizlilikle ilgili herhangi bir sorunuz varsa, bizimle iletişime geçebilirsiniz.
</p>
